<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--     <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> -->
<!--         <encoder> -->
<!--             <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->
<!--             </pattern> -->
<!--         </encoder> -->
<!--     </appender> -->
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %75thread | %5p | %40logger{30} | %m%n</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>
    
     <logger name="org.hibernate" level="info" />
     
     <logger name="org" level="warn" />
     
     <logger name="org.apache.kafka" level="warn" />
     
     <logger name="hu.exercise.spring.kafka" level="warn" />
     <logger name="hu.exercise.spring.kafka.cogroup" level="warn" />
     <logger name="hu.exercise.spring.kafka.event" level="warn" />
     <logger name="org.springframework.transaction.interceptor" level="warn" />
     
     <logger name="io.github.springwolf" level="info" />
     <logger name="net.ttddyy.dsproxy.listener" level="warn" />
     
     <logger name="org.apache.kafka.streams.KafkaStreams" level="warn" />
   
    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>